<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>method</key>
        <string>app-store-connect</string>
        <key>uploadBitcode</key>
        <false/>
        <key>uploadSymbols</key>
        <true/>
        <key>compileBitcode</key>
        <false/>
        <key>signingStyle</key>
        <string>manual</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>com.isaacdedini.pilot.dev</key>
            <string>iOS TestFlight Pilot Dev</string>
            <key>com.isaacdedini.pilot.staging</key>
            <string>iOS TestFlight Pilot Staging</string>
            <key>com.isaacdedini.pilot.prod</key>
            <string>iOS TestFlight Pilot Prod</string>
        </dict>
        <key>signingCertificate</key>
        <string>Apple Distribution</string>
        <key>teamID</key>
        <string>CH6SJWRT2C</string>
        <key>destination</key>
        <string>export</string>
    </dict>
</plist>
